@font-face {
    font-family: 'NOVA'; /*a name to be used later*/
    src: url('NOVABOLD.otf'); /*URL to font*/
}

.classname {
    font-family: 'NOVA';
}

table.list {
	border-collapse:separate;
	border-spacing: 27px 0px;
}

td {
	padding: 10px;
}

body {
background-color: black;
}

.container {
	width:auto;
	height:auto;
	background-color:red;
	padding:20px;
	border:10px solid #960018;
	border-radius:200px;
	margin: 0;
}

.newitem {
}

.data {
	/*background-color: white;
	border:10px solid #960018;*/
	width: 320px;
	height: 30px;
	margin: 10px;
	left: 10px;
	position: relative;
	padding: 5px;
	margin: 10px;
	font-size: 300%;
	color: white;
	text-shadow: 2px 2px #960018;

}

.activity {
	font-family: 'NOVA';
}

.minutes {
		font-family: sans-serif;
}

.item {
	background-color: white;
	width: 180px;
	height: 50px;
	margin: 10px;
}

.delete {
	position: relative;
	top: 13px;
}

.title {
	width:400px;
	height: auto;
	position: relative;
	float: left;
	left: 70px;
}

input {
	font-size: 200%;
	position: relative;
	border:10px solid #960018;
}


h2 {
	color: white;
}

.green_leaf {
	position: fixed;
	left: 10px;
	top: -10px;
	width: 180px;
}

.color_picker {
	width: 40px;
	height: 40px;
	background-color: purple;
	border:10px solid #960018;
	position: relative;
	display: none;
}

.clock {
	width: 100px;
	height: 50px;
	right: 300px;
	top: -40px;
	position: fixed;
	display: none;
}


p {
	font-size: 450%;
	color: white;
	font-family: sans-serif;
	position: relative;
	z-index: 2;
}

.shadow {
	font-size: 450%;
	color: #960018;
	font-family: sans-serif;
	position: relative;
	bottom: 155px;
	right: 4px;
	z-index: 1;
}

.bottom {
	width: 100%;
	height: 45px;
}